URxvt.urgentOnBell: off
URxvt.visualBell: false
URxvt.iso14755: false
URxvt.iso14755_52: off
URxvt.meta8: false
URxvt.depth: 32
URxvt.metaSendsEscape: true

URxvt.scrollBar: off
URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.saveLines: 10000
URxvt.scrollTtyOutput:   false
URxvt.scrollWithBuffer:  true
URxvt.scrollTtyKeypress: true

URxvt.font: xft:Hermit:pixelsize=12, xft:DejaVu Sans Mono:pixelsize:12
URxvt.letterSpace: 1
urxvt*termName: rxvt
urxvt*scrollBar: false
urxvt*matcher.button: 1
urxvt.transparent: false
!urxvt.boldFont:
Xft*dpi: 96
Xft*antialias: true
Xft*hinting: true
Xft*hintstyle: hintfull
URxvt*cursorUnderline:  true
Xft*rgba: rgb
URxvt*geometry: 85x20
*internalBorder: 10
URxvt*fading: 0
URxvt*tintColor: #ffffff
URxvt*shading: 0
URxvt*inheritPixmap: False
*.foreground:  #c5c8c6
*.background:  #161719
*.cursorColor: #d0d0d0
!
! Black
*.color0:      #000000
*.color8:      #000000
!
! Red
*.color1:      #d12121
*.color9:      #d12121
!
! Green
*.color2:      #87c38a
*.color10:     #94fa36
!
! Yellow
*.color3:      #ffd7b1
*.color11:     #f5ffa8
!
! Blue
*.color4:      #85befd
*.color12:     #96cbfe
!
! Magenta
*.color5:      #b9b6fc
*.color13:     #b9b6fc
!
! Cyan
*.color6:      #85befd
*.color14:     #85befd
!
! White
*.color7:      #e0e0e0
*.color15:     #e0e0e0
!
! Bold, Italic, Underline
*.colorBD:     #c5c8c6
!*.colorIT:
!*.colorUL:
!#include "/home/ssaini/.cache/wal/colors.Xresources"

! Perls
URxvt.perl-ext-common : default,matcher,keyboard-select,url-select

URxvt.keysym.M-Escape          	: perl:keyboard-select:activate
URxvt.keysym.M-u           	: perl:url-select:select_next
URxvt.keysym.M-s           	: perl:keyboard-select:search
!URxvt.perl-ext-common     	: tabbed,default,matcher
!Urxvt.perl-lib            	: /usr/lib/urxvt/perl/
URxvt.url-select.launcher  	: firefox
URxvt.url-select.autocopy  	: true
URxvt.url-select.underline 	: true
URxvt.url-select.button:   1

