! special
*.foreground:   #FFF
*.background:   #1d2021
*.cursorColor:  #F8F8F2

! black
*.color0:       #171a1f
*.color8:       #373d47

! red
*.color1:       #EE4F84
*.color9:       #F48FB1

! green
*.color2:       #53E2AE
*.color10:      #A1EFD3

! yellow
*.color3:       #F1FF52
*.color11:      #F1FA8C

! blue
*.color4:       #6498EF
*.color12:      #92B6F4

! magenta
*.color5:       #985EFF
*.color13:      #BD99FF

! cyan
*.color6:       #24D1E7
*.color14:      #87DFEB

! white
*.color7:       #E5E5E5
*.color15:      #F8F8F2

URxvt.cursorBlink : 1
URxvt.font       :xft:Input Mono:size=12:style=Regular \
                  xft:DejaVu Sans Mono:size=9:style=Medium

URxvt.italicFont :xft:Input Mono:size=12:style=Italic
URxvt.boldFont   :xft:Input Mono:size=12:style=Bold

URxvt.lineSpace           : 0
URxvt.letterSpace         : 0
URxvt.scrollBar           : false
URxvt.internalBorder      : 25
URxvt.cursorUnderline     : false
URxvt.geometry            : 80x30
URxvt.thickness           : 5
URxvt.titleBar            : false
URxvt.intensityStyles     : false


URxvt.perl-ext-common : default,matcher,font-size,keyboard-select
URxvt.keysym.M-Escape      : perl:keyboard-select:activate
URxvt.keysym.M-s      : perl:keyboard-select:search
URxvt.keyboard-select.clipboard: true
URxvt.font-size.step  : 1
URxvt.url-launcher    : /usr/bin/brave
URxvt.matcher.button  : 1

Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	    rgb
!Xft.dpi:        110
Xft.lcdfilter:	lcddefault
